<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
{#    <title>{% block title %}{% endblock %}</title>#}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
    <div class="row">
{#    <nav class="navbar navbar-light navbar_main">#}
        <div id=" nav-container navbar_main">
            {% block navbar_links_old %}
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'browse_companies' %}">Browse Companies</a>
                <a href="">Invites</a>
                {% if user.is_admin or user.is_super_admin %}
                    <a href="">Manage Employees</a>
                {% endif %}
                <a href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% endblock %}
        </div>
{#    </nav>#}
    </div>


    <nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            {% block navbar_links %}
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'browse_companies' %}">Browse Companies</a>
                <a href="">Invites</a>
                {% if user.is_admin or user.is_super_admin %}
                    <a href="">Manage Employees</a>
                {% endif %}
                <a href="{% url 'settings' %}">Settings</a>
                <a href="{% url 'logout' %}">Logout</a>
            {% endblock %}
            <button class="btn btn-outline-success" type="button">Main button</button>
            <button class="btn btn-sm btn-outline-secondary" type="button">Smaller button</button>
        </form>
    </nav>


    {% block user_tag %}
        <p>Logged in as {{ user.username }}</p>
    {% endblock %}
    {% block contents %}{% endblock %}

</body>
</html>