{% extends 'roster/base.html' %}
{#{% block navbar_links %}#}
{#    <a href="{% url 'home' %}">Home</a>#}
{#    <a href="{% url 'logout' %}">Logout</a>#}
{#    <br>#}
{#{% endblock %}#}

{% block contents %}
    {% for company in company_list %}
        <p>Company Name: <a href="{% url 'company_details' company.pk %}"> {{ company.name }}</a></p>
        <p>Admin: {{ company.admin }}</p>
        {% if company.using_roster_app %}
            {% if not user.is_super_admin and not user.company  %}
                <button>Join</button>
            {% elif not user.is_super_admin and user.company %}
                <button disabled>Join</button>
            {% elif user.is_super_admin %}
                <form action="{% url 'company_remove_from_rostrr' company.pk %}">
                    <input type="submit" value="Remove from rostrr" />
                </form>
            {% endif %}
        {% else %}
            {% if not user.is_super_admin %}
                <p>This company does not use the rostrr app</p>
            {% elif user.is_super_admin %}
                <form action="{% url 'company_add_to_rostrr' company.pk %}">
                    <input type="submit" value="Add to rostrr" />
                </form>
            {% endif %}
        {% endif %}
        <br>
    {% endfor %}
{% endblock %}