.parent_login_panel {
    position: relative;
    margin: 0 auto;

}

#login_panel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar_main {
    background-color: #008080;
}

.rostrr_link {
    color: #008080;
}

.main_container {
    background-color: #f9f9f9;
    /*height: 100vh;*/
}

.nav_sub {
    background-color: #B3B3B3;
}

.rostrr_button {
    width: auto;
}

.rounded_border {
    border: 2px solid #B3B3B3;
    border-radius: 12px;
}

.homepage_card {
    border: 2px solid #B3B3B3;
    border-radius: 8px;
    /*float: left;*/
}

.bg-navbar {
    background-image: url("login_teal_panel.jpg");
}

.company_logo_parent_div {
    padding-left: 40px;
    padding-bottom: 30px;
}

.user_avatar {
    padding-top: 50px;
    padding-bottom: 30px;
}

.user_info {
    font-family: serif;
    font-size: 30px;
    color: #4D4D4D;
}

.user_info_row {
    padding-top: 20px;
    padding-bottom: 20px;
}

.homepage_logo_company {
    padding-top: 20px;
    padding-bottom: 20px;
}

.homepage_avatar_users {
    margin-top: 25px;
}

ul {
  list-style-type: none;
}

.homepage_card_header {
    /*border: 2px solid #B3B3B3;*/
    background-image: url("login_teal_panel.jpg");
    border-radius: 8px;
}

.card_header{
    color: #f9f9f9;
    padding-top: 10px;
    padding-bottom: 10px;
}

.update_form_panel {
    margin-top: 50px;
}

.button-text {
    font-color: #f9f9f9;
}