.parent_login_panel {
    position: relative;
    margin: 0 auto;

}

#login_panel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navbar_main {
    background-color: #008080;
}

.rostrr_link {
    color: #008080;
}

.main_container {
    background-color: #f9f9f9;
    height: 100vh;
}

.nav_sub {
    background-color: #B3B3B3;
}

.rostrr_button {
    width: auto;
}

.rounded_border {
    border: 2px solid #B3B3B3;
    border-radius: 12px;
}

.homepage_card {
    border: 2px solid #B3B3B3;
    border-radius: 8px;
}

.bg-navbar {
    background-image: url("login_teal_panel.jpg");
}

.company_logo_parent_div {
    padding-left: 40px;
    padding-bottom: 30px;
}

.user_avatar {
    padding-top: 50px;
    padding-bottom: 30px;
}